# MySQL (EHP CIS ใช้ MySQL port 3306)
DATABASE_URL=mysql://username:password@localhost:3306/database_name

# MSSQL (ถ้าใช้ SQL Server)
# DATABASE_URL=mssql://username:password@hostname:1433/database_name

PORT=6000
NODE_ENV=development

# ชื่อตารางข้อมูลสุขภาพ (ตรวจสอบจาก DBA)
TABLE_NAME=CHECK_DATA
